{{ define "main" }}
    <h1 style="text-align: center" !important>Page not found</h1>

    <p>Uh-oh, you seem to have taken a wrong turn! It looks like this was the result of either:</p>

    <ul>
        <li>A mistyped URL, or a copy-and-paste mistake</li>
        <li>A broken link on a web pages or in an email</li>
        <li>Moved or deleted content</li>
    </ul>

    <p>Try the <a href="{{ .Site.BaseURL }}">Home</a> page. </p>
    <p>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
			<!-- FooterAd -->
			<ins class="adsbygoogle"
			     style="display:inline-block;width:728px;height:90px"
			     data-ad-client="ca-pub-5927357648656188"
			     data-ad-slot="2158457111"></ins>
			<script>
			(adsbygoogle = window.adsbygoogle || []).push({});
			</script>
	</p>
{{ end }}
